version: '3.8'

services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    image: backend

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    image: frontend

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: proxy
    ports:
      - "80:80"
    depends_on:
      - front-end
      - back-end
